{
    "name": "{{ project_name }}",
    "summary": "Custom module that depends on all installed modules",
    "version": "{{ odoo_version }}.0.0.0",
    "development_status": "Alpha",
    "category": "Uncategorized",
    "website": "https://akretion.com",
    "author": " Akretion",
    "license": "AGPL-3",
    "external_dependencies": {
        "python": [],
        "bin": [],
    },
    "depends": [
        "attachment_asset_in_db",
        "auth_oidc_akretion_data",
        "auth_oidc_environment",
        "database_age_cron",
        "server_environment_ir_config_parameter",
        "web_environment_ribbon",
    ],
    "data": [
    ],
    "demo": [
    ],
}
