# openupgrade is 280Mb, so we only add
# when we need it
openupgrade:
   modules:
      - openupgrade_framework
      - openupgrade_scripts
   src: https://github.com/OCA/OpenUpgrade {{ odoo_version }}
