ak-cloud-france-oi:
    modules:
        - attachment_asset_in_db
        - auth_oidc_akretion_data
        - database_age_cron
    src: https://github.com/akretion/ak-cloud-france-oi {{ odoo_version }}

odoo:
    src: https://github.com/odoo/odoo {{ odoo_version }}

server-auth:
    modules:
        - auth_oidc
        - auth_oidc_environment
    src: https://github.com/oca/server-auth {{ odoo_version }}

server-env:
    modules:
       - data_encryption
       - server_environment
       - server_environment_data_encryption
    src: https://github.com/oca/server-env {{ odoo_version }}

server-tools:
    modules:
       - sentry
       - bus_alt_connection
    src: https://github.com/oca/server-tools {{ odoo_version }}

web:
    modules:
        - web_environment_ribbon
    src: https://github.com/oca/web {{ odoo_version }}

