/.env
/.db
/data
/secrets.docker-compose.yml
/clear-*
.home
# libreoffice may generate these files while opening file
*.~lock*
/.copier-answers-personal.yml

# virtualenv files:
/odoo/bin
/odoo/include
/odoo/lib
/odoo/lib64
/odoo/scripts
/odoo/share
