/.env
/.db
/data
/secrets.docker-compose.yml
/clear-*
.home
# libreoffice may generate these files while opening file
*.~lock*
/.copier-answers-personal.yml
/backup/*
!backup/load_db.sh
!backup/get_db.sh
