# You have check all TODO
networks:
  local:
services:
  kwkhtmltopdf:
    restart: always
    image: acsone/kwkhtmltopdf
    networks:
      - local
  odoo:
    restart: always
    # TODO
    image: registry.gitlab.akretion.com/akretion/{{ project_name }}:16-0_latest
    environment:
      # add and change your settings here

      SENTRY: False
      SENTRY_DSN:
      SENTRY_TRACES_SAMPLE_RATE: 0.00001

      ODOO_BASE_URL: https://{{ project_name }}.akretion.com

      LIMIT_TIME_CPU: 240
      LIMIT_TIME_REAL: 480
      LIMIT_TIME_REAL_CRON: 480

      # 1500Mb *1024² (Small projects)
      LIMIT_MEMORY_SOFT: 1572864000

      RUNNING_ENV: prod

      # don't change after this line
      # ask infra team for the following
      PGSSLMODE: require
      DB_NAME: 
      PGDATABASE: 
      DB_HOST:
      PGHOST:
      PGUSER:
      DB_USER:
      # use pgbouncer
      DB_PORT: 6432
      PGPORT: 6432
      {% if not use_secret %}
      # passwords are environnment variables
      PGPASSWORD: ${PGPASSWORD}
      DB_PASSWORD: ${PGPASSWORD}
      {% endif %}

      # dont use pgbouncer for BUS_ALT_CON
      IMDISPATCHER_DB_PORT: 5432
      IMDISPATCHER_DB_HOST:
      # don't use pgbouncer for queuejob
      ODOO_QUEUE_JOB_JOBRUNNER_DB_PORT: 5432
      ODOO_QUEUE_JOB_JOBRUNNER_DB_HOST:

    volumes:
      - ~/data/${COMPOSE_PROJECT_NAME}/addons:/data/odoo/addons
      - ~/data/${COMPOSE_PROJECT_NAME}/filestore:/data/odoo/filestore
      - ~/data/${COMPOSE_PROJECT_NAME}/sessions:/data/odoo/sessions
    ports:
      - 8069:8069
      - 8072:8072
    networks:
      - local
    links:
      - kwkhtmltopdf
version: "3.7"
